
:root{
    --bg-color:#1f242d;
    --secondary-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

.header{
	/* background-color: var(--bg-color); */
    background: linear-gradient(180deg, #004ff9, #000000);
	width: 100%;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}


.w3-content{
	margin-top: 50px;
	max-width:960px
}

.text-color {
	color: #404040; /* rgb(64,64,64) */
}


.bground-color {
	
	background: #000000; /* rgb(248,248,248) */
}

#home{
	/* background: var(--secondary-bg-color); */
	background: #000000;
}

.text-color {
	color: #404040; /* rgb(64,64,64) */
}






.topp-padding {
	padding-top: 30px;
}





li {
	font-family: 'Roboto', serif;
	font-size: 16px;
}

a:hover { 
  color: #FF0000;
}



.add-margin {
	margin-bottom: 30px;
	margin-top: 5px;
}


.add-padding {
	
	padding-bottom: 30px;
}


a {
	text-decoration: none;
}



input {
	font-size: 20px;
	font-family: Helvetica, sans-serif;
}


.title {
	padding-top: 30px;
	padding-bottom: 30px;
}

.hide {
	display: none;
}

.new-font {
	font-family: georgia, serif;
	letter-spacing: .05em;
}


.space-letters {
	letter-spacing: .05em;
}



.unblock {
display: inline-block;
}



input[type="file"] {
    opacity: 0;
    
}


.dont-break-out {
	/*These are technically the same but use both 
	to ensure all browsers are supported*/
	overflow-wrap: break-word;
	word-wrap: break-word;
}


.new-font {
	font-family: monospace, serif;
	font-size: 15px;
	
}

body{
	background-color: #000000;
}


.logo h1 {
	font-size: 50px;
	font-family: 'Oswald', sans-serif;
	line-height: 1.1;
}

.logo1 {
	font-family: 'Oswald', sans-serif;
}


.header-style {
	height: 50px;
	background-color: #0375b4; /*#303030;*/
}


.adjust-fontcolor {
	color: black;
}


.normal-header {
	display: block;
}


.btn-font {
	font-size: 18px;
	letter-spacing: .05em;
}

/*
-------------------------
Specifically for tablets
-------------------------
*/

.tag-font {
	font-size: 16px;
	
}

.new-font {
	font-family: monospace, serif;
	font-size: 16px;
}



.side-margin {
	margin-left: 20%;
	margin-right: 20%;
}

.adjust-image {
	max-width: 400px;
	
}

.bottom-padding {
	padding-bottom: 300px;
}

.bottom-margin {
	margin-bottom: 300px;
}


/*
-----------------
MEDIA QUERIES
-----------------
*/

@media only screen and (min-device-width: 1200px) {
/* Devices that are Laptops and Desktops */



.btn-font {
	font-size: 15px;
	letter-spacing: .03em;
}

.new-font {
	font-family: monospace, serif;
	font-size: 15px;
}



.side-margin {
	margin-left: 30%;
	margin-right: 30%;
}


input {
	font-size: 16px;
}



.logo h1 {
	font-size: 35px;
}

.adjust-image {
	max-width: 300px;
	
}


.card {
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
	margin-top: 16px;
	margin-bottom: 16px;
	
}

.tag-font {
	font-size: 12px;
	
}

.bottom-padding {
	padding-bottom: 300px;
}


}/*Close Media Query*/

@media only screen and (max-width: 480px) {
/*Cellphone Screens*/



.normal-header {
	display: none;
}


.logo h1 {
	font-size: 50px;
}

.adjust-image {
	max-width: 200px;
	margin-bottom: 40px;
}



.header-stylehome {
	display: none;
}



} /*Close Media Query*/




@media only screen and (max-width: 480px) and (orientation: portrait){
/*Cellphone Screens in portrait*/

.btn-font {
	font-size: 18px;
	letter-spacing: .03em;
}

.add-margintop {
	margin-top: 10%;
}

.side-margin {
	margin-left: 1%;
	margin-right: 1%;
}

.adjust-image {
	max-width: 90%;
	margin-bottom: 0px;
}

.space-letters {
	letter-spacing: .03em;
}

.logo h1 {
	font-size: 35px;
}

.bottom-padding {
	padding-bottom: 200px;
}

.mono-font h5 {
	font-size: 16px;
}

.new-font {
	font-family: monospace, serif;
	font-size: 14px;
	
}


.tag-font {
	font-size: 10px;
}

.add-padding {
	padding-bottom: 30px;
	padding-left: 2px;
	padding-right: 2px;
}


.mob-font {
	font-size: 16px;
	
}

.mob-font1 {
	font-size: 18px;
	
}

li {
	font-size: 18px;
}



} /*Close Media Query*/




@media only screen and (max-width: 480px) and (orientation: landscape){
/*Cellphone Screens in landscape*/

.btn-font {
	font-size: 12px;
	letter-spacing: .03em;
}

.add-margintop {
	margin-top: 10%;
}

.side-margin {
	margin-left: 15%;
	margin-right: 15%;
}

.adjust-image {
	max-width: 60%;
	margin-bottom: 10px;
}

.space-letters {
	letter-spacing: .03em;
}

.logo h1 {
	font-size: 35px;
}

.bottom-padding {
	padding-bottom: 150px;
}

.mono-font h5 {
	font-size: 16px;
}

.new-font {
	font-family: monospace, serif;
	font-size: 11px;
	
}


.add-padding {
	padding-bottom: 30px;
	padding-left: 2px;
	padding-right: 2px;
}

.tag-font {
	font-size: 12px;
}


.normal-header {
	display: none;
}


} /*Close Media Query*/


@media only all and (min-width: 520px) {
/*Tablets*/


} /*Close Media Query*/


@media only all and (max-width: 520px) and (orientation: landscape) {
/*Tablets in landscape*/




} /*Close Media Query*/

.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000000;
	color: white;
    
}

.services-container {
    padding: 50px 10%;
	color: #ffffff;
    background-color: none;
    text-align: center;
}

.services-container h2 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 20px;
}

.services-columns {
    display: flex;
	color: #ffffff;
    justify-content: space-around;
}

.column {
    flex: 1;
    margin: 0 20px;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    font-size: 16px;
	color: #ffffff;
    margin-bottom: 10px;
}

.contact .con{
 text-align: center;
}

.contact-container, .newsletter-container, .working-hours-container ,.company-container{
    padding: 50px 10%;
	color: #ffffff;
    background-color: none;
    text-align: center;
}

.contact-container h2, .newsletter-container h2, .working-hours-container h2 ,.company-container h2{
    font-size: 20px;
	color: #ffffff;
    margin-bottom: 20px;
}

.contact-container p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.company-container{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}

.newsletter-container form {
    display: flex;
    justify-content: center;
}

.newsletter-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.newsletter-container button {
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.working-hours-container p {
    font-size: 16px;
    color: #666;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: white;
    border-radius: 10px 10px 0 0 ;
}

/* Responsive Design */
@media (max-width: 768px) {
    .services-columns {
        flex-direction: column;
    }

    .column {
        margin: 20px 0;
    }
}


.services {
    padding: 50px 20px;
    text-align: center;
    background-color: #000;
}

.services h2 {
	color: #ffffff;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 60px;
}
.process-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 3%;
    background-color: none;
    gap : 150px;
}

.process-step {
    text-align: center;
    flex: 1;
    margin: 0 0px;
}

.image-placeholder{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid #000;
}

.image-placeholder img{
    width: 190px;
    height: 190px;
	overflow: hidden;
    color: white;
    font-size: 24px;
    font-weight: bold;
	border-radius: 50%;
}

.process-step h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;
}

.process-step p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
    .process-container {
        flex-direction: column;
    }

    .process-step {
        margin: 20px 0;
    }
}
